@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/variables";
@import "./base/reset";
@import "./base/typography";
@import "./components/input";
@import "./components/button";

html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-family: "Chivo", sans-serif;
  @include body-styles(mobile);
  background-color: $deep-black;
  background-image: linear-gradient(
      rgba(18, 23, 37, 0.9),
      rgba(18, 23, 37, 0.9)
    ),
    url("../assets/mobile/image-host.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 768px) {
    @include body-styles(default);
    background-image: get-background(tablet);
    background-size: auto;
    background-position: top right;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.2rem 2.4rem 9.4rem 2.4rem;
}
main {
  // background-color: blue;
}
.logo {
  // background-color: purple;
  margin-bottom: 5rem;
  @media (min-width: 768px) {
    position: absolute;
    top: 5rem;
    left: 4rem;
  }
}
.content-container {
  @media (min-width: 768px) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 88%;
    padding: 10rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $deep-black;
  }
  // background-color: red;
}
header {
  // background-color: green;
  .title {
    margin-bottom: 1.6rem;
    @include title-styles(mobile);
    @media (min-width: 768px) {
      @include title-styles(tablet);
      text-align: left;
      margin-bottom: 3rem;
    }
  }
  .description {
    margin-bottom: 3rem;
    @media (min-width: 768px) {
      margin-bottom: 4rem;
      width: 75%;
    }
  }
}
.brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 4.8rem;
  @media (min-width: 768px) {
    order: 3;
    width: 90%;
    margin-bottom: 0;
    margin-top: 6rem;
  }
  .logo1 {
    width: 80%;
  }
  .logo2 {
    width: 70%;
  }
  .logo3 {
    position: relative;
    right: 1rem;
    width: 100%;
  }
  .logo4 {
    width: 100%;
  }
}
form {
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    margin: 0;
    padding: 0;
    @media (min-width: 768px) {
      width: 71%;
    }
  }
}
.bg-pattern {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    left: 3rem;
    bottom: 0;
  }
}
