.btn {
  cursor: pointer;
  @include form-input-text-style;
  color: $deep-black;
  background-color: $green-aqua;
  &:hover,
  &:focus {
    color: $deep-black;
    background-color: $mint-frost;
  }
}
